.mystyle {
  width: 100%;
  padding: 25px;
  background-color:yellow;
  border: 5px solid ;
  border-color: coral;    
  color: white;
  font-size: 25px;
  text-align: center;
  
}

.clock {
  width: 50%;
  padding: 25px;
  background-color:blueviolet;
  border: 5px solid ;
  border-color: coral;    
  color: white;
  font-size: 25px;
  text-align: center;
  
}
.innerdiv {
  width: 100%;
  padding: 25px;
  background-color:green; 
  border: 5px solid ;
  border-color:white;    
  color:orange;
  font-size: 25px;
  text-align: center;

}

.question {
  float: left;
  width: 40%;
  padding: 25px;
  background-color:brown; 
  border: 5px solid ;
  border-color:black;    
  color:orange;
  font-size: 25px;
  text-align: center;
  /* background-image: url(../images/2-advanced.jpg); */
  background-size: 100%;
  border-color: coral;

}

.mystartbutton {
    background-color: blue;
    color:white;
}

body{
border: 5px solid ;
border-color: coral;    
}

 


/* .content-footer,
.masthead-heading,
.masthead-intro {
  text-align: center;
}


header{
  background: '#ebebeb'
}


#footer {
  padding: 20px 0;
  text-align: center;
  background-color: #111111;
  text-decoration: none;
}

#footer a {
  color: #ffffff;
  background: '#ebebeb'
}
.social > li {
  display: inline-block;
  margin: 0 5px;
}

.myClass {
  margin:2em;
}



.gridcontent {
  width: 8.33%;
  margin: 0;
  border-right: 1px solid grey;
  height: 100%;
  float: left;
  background-color: #84c754;
  background-color: #f1f1f1;
}

    /* responsive screen sizes */
        /* This is for targetting tablets */
        @media only screen 
            and (min-device-width: 768px) 
            and (max-device-width: 1024px) 
            and (-webkit-min-device-pixel-ratio: 1) 
            

            /* This is for targeting cellphones */
            @media only screen 
            and (min-device-width: 320px) 
            and (max-device-width: 568px) 
            and (-webkit-min-device-pixel-ratio: 2) 
                
            
      /* important for responsivness
      The CSS box-sizing property allows us to include the padding and border
      in an element's total width and height. */
        
  
  * {
    box-sizing: border-box;
  }
  
  
  .gridwrapper {
    overflow: auto;
    position: relative;
    height: 250px;
  }
  
  .gridcontent {
    width: 8.33%;
    margin: 0;
    border-right: 1px solid grey;
    height: 100%;
    float: left;
    background-color: #84c754;
    background-color: #f1f1f1;
  }
 
  */
