.mystyle {
    width: 100%;
    padding: 25px;
    background-color:yellow;
    border: 5px solid ;
    border-color: coral;    
    color: white;
    font-size: 25px;
    text-align: center;
    
  }

  .clock {
    width: 50%;
    padding: 25px;
    background-color:blueviolet;
    border: 5px solid ;
    border-color: coral;    
    color: white;
    font-size: 25px;
    text-align: center;
    
  }
  .innerdiv {
    width: 100%;
    padding: 25px;
    background-color:green; 
    border: 5px solid ;
    border-color:white;    
    color:orange;
    font-size: 25px;
    text-align: center;

  }

  .question {
    width: 50%;
    padding: 25px;
    background-color:brown; 
    border: 5px solid ;
    border-color:black;    
    color:orange;
    font-size: 25px;
    text-align: center;

  }

  .mystartbutton {
      background-color: blue;
      color:white;
  }

  body{background-image: url("../Images/2-advanced.jpg");
  border: 5px solid ;
  border-color: coral;    
  }

   
  <p> player.name>=prompt(player.name >/p/> <br/>)
  <p> player.name>= 0;
       player.name>=prompt(player.name >/p/> <br/>)'
  <p> player.name>=prompt(player.name >/p/> <br/>)'
   correct, incorrect, unanswered </p> <br>
   total plays, total wins, total losses
				gamesetup {setup game and player prompt user for maxtimer, question choices) load the questionAnswerSet , wait for start or quit)